parameters:
  level: max
  ignoreErrors:
#    - '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children\(\)#'
#    - '#Cannot call method end\(\) on Symfony\\Component\\Config\\Definition\\Builder\\NodeParentInterface\|null#'

  excludePaths:
    - tests/*
    - src/DependencyInjection
    - src/Bridge/Symfony/Command/GenerateCircuitBrokenProxiesCacheWarmer.php

  typeAliases:
